#about{
    background-color: $white;
    padding: 0px 10%;
    min-height: 70vh;
    img{
    	height: 130px;
	    display: block;
	    margin: auto;
	    padding: 10px;
    }
    p.text{
    	font-weight: bolder;
    	padding: 0 20%;
        font-family: 'Fjalla One';
        text-align: justify; 
    }
    .cemento-bg{
    	p{
    		margin-top: 0px;
    	}
    }
    .youtube{
        padding: 0 20%;
        margin-bottom: 30px;
    }

    .feat-slider{
        padding: 30px 5%;
        position: relative;
        top: -30px;
        .simple{
            margin: 0;
            padding: 0;
        }
    }
    .img{
        height: 200px;
        width: 100%;
        background: whitesmoke;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; 
    }
}