#agentes{
    background-color: $white;
    padding: 20px 10%;
    .context-row p{
        margin-top: 0px;
    }
    .container{
        padding: 40px
    }
    .agent-index .col{
        cursor: pointer;
        height: 300px;
        img{
            height: 280px;
            display: block;
            margin: auto;
        }
        p{
            text-align: center;
            position: relative;
            top: -280px;
            font-size: 30px;
            color: white;
            background: $black;
            opacity: 0.6;
            width: 100%;
            display: block;
            margin: auto;
            height: 280px;
            padding-top: 120px;
            transition: all 0.5s linear;
            &:hover{
                opacity: 0.8;
            }
        }
    }
    .detail{
        .quote{
            font-size: 22px;
        }
        .profile{
            margin: auto;
            display: block;
            height: 100%;
        }
        .col{
            padding: 30px;
        }
        .featured{
            margin: auto;
            display: block;
            width: 100%;
        }
        .img-full{
            width: 100%;   
        }
    }
    .contact{
        padding: 50px;
    }
    .images{
        height: 250px;
        padding: 30px;
        .img{
            height: 180px;
        }
    }
    .img{
        height: 280px;
        width: 100%;
        background: whitesmoke;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; 
    }
    iframe{
        height: 350px;
        width: 100%;
        display: block;
        margin: 30px auto;
    }
}
