#galeria{
    background-color: $white;
    padding: 20px 10%;

    .col{
        padding: 30px;
        &.simple{
            padding: 1px;
        }
    }

    h3{
        margin: 0 10%;
        font-weight: 400;
    }
    
    h2{
        font-weight: 400;
    }

    img{
        width: 100%;
        &.featured{
            width: 80%;
            display: block;
            margin: auto;
        }
    }

    p.text{
        font-family: 'Fjalla One';
        margin: 0 15%;
    }

    .feat-slider{
        padding: 0 13%;
        position: relative;
        top: -30px;
    }

    p.name{
        text-align: center; 
        margin-top: 10px;
        &.text{
            font-size: 20px;
            font-family: 'Fjalla One';
        }
    }
    .name{
        font-size: 17px;
        font-size: 30px;
    }

    .date{
        font-size: 30px;
        margin: 0;
        position: relative;
        bottom: 7px;
    }

    .img{
        height: 200px;
        width: 100%;
        background: whitesmoke;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; 
    }

    .load-more{
        text-align: center;
        margin: auto;
        display: block;
        background: transparent;
        padding: 10px 20px;
        font-size: 20px;
    }

    .masonry {
        margin: 1.5em 0;
        padding: 0;
        -moz-column-gap: 1.5em;
        -webkit-column-gap: 1.5em;
        column-gap: 1.5em;
        font-size: .85em;
        &.bordered{
            -moz-column-rule: 1px solid #eee;
            -webkit-column-rule: 1px solid #eee;
            column-rule: 1px solid #eee;
            -moz-column-gap: 50px;
            -webkit-column-gap: 50px;
            column-gap: 50px;
        }

        .brick{
            margin-bottom: 30px;
        }

        img{
            max-width: 100%;
            vertical-align: bottom;
            -moz-transition: all .5s ease-in-out;
            -webkit-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
        }
    }


    .item {
        display: inline-block;
        background: #fff;
        padding: 1em;
        margin: 0 0 1.5em;
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-shadow: 2px 2px 4px 0 #ccc;
    }

    @media only screen and (min-width: 400px) {
        .masonry {
            -moz-column-count: 2;
            -webkit-column-count: 2;
            column-count: 2;
        }
    }

    @media only screen and (min-width: 700px) {
        .masonry {
            -moz-column-count: 3;
            -webkit-column-count: 3;
            column-count: 3;
        }
    }

    @media only screen and (min-width: 900px) {
        .masonry {
            -moz-column-count: 4;
            -webkit-column-count: 4;
            column-count: 4;
        }
    }

    @media only screen and (min-width: 1100px) {
        .masonry {
            -moz-column-count: 5;
            -webkit-column-count: 5;
            column-count: 5;
        }
    }

}


#sliderPhotos{
    height: 100%;
    width: 100%;
    background: transparent;
    .close{
        z-index: 9999999;
        color: $white;
        font-size: 40px;
        right: 30px;
        position: absolute;
    }
    .photo-slider{
        position: relative;
        padding: 5px;
        z-index: 1;
        ul{
            height: 90%;
            .slider-img{
                height: 90%;
                background-size: contain !important;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        @media(max-width: $tablet){
            ul img{
                margin-top: 70%;
            }
        }
    }
    .rn-carousel-control{
        color: $white;
        font-weight: bolder;
        font-size: 40px;
        top: 200px;
        &.rn-carousel-control-prev{
            left: -17px;
        }
        &.rn-carousel-control-next{
            right: -17px;   
        }
    }
}

// .modal-dialog{
//     margin: 0 !important;
// }
