#layout{
    background-color: $white;
    height: 100%;
    width: 100%;
    .navbar{
        background-color: rgba(0, 0, 0, 0.4392156862745098);
        border-bottom: 5px solid $red;
        text-align: center;
        font-family: 'Fjalla One';
        letter-spacing: 1px;
        display: block;
        min-height: 40px;
        top: 150px;
        ul{
            float: none;
            display: inline-block;
            margin: 0 auto;
            position: relative;
            li{
                &.active{
                    a{
                        font-size: 20px;
                        color: $red; 
                        &:hover{
                            color: $red;
                            background-color: transparent;
                        }
                    }
                }
                &.search-bar{
                    width: 100%;
                    .ng-isolate-scope{
                        height: 30px;
                    }
                    .form-control{
                        border-radius: 18px;
                        position: relative;
                        top: -27px;
                        height: 34px;
                    }
                    .angucomplete-dropdown{
                        margin-top: -27px;
                        margin-left: 12px;
                        width: 270px;
                    }
                }

            }
            a{
                padding: 10px;
                font-size: 17px;
                color: $white;
                &:hover{
                    color: $red;
                    background-color: transparent;
                }
            }
            &.pull-left{
                width: 100%;
            }
        }
    }
    .header-bar{
        position: absolute;
        background-image: url("../images/cemento2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        width: 100%;
        height: 190px;
        display: block;
        white-space: normal;
        padding: 0;
        margin: 0;
    }
    @media (max-width: $iphone6-plus) { 
        .header-bar{
            width: 430px;
            height: 70px;
            background-color: $header-bar;
            position: fixed;
            z-index: 10;
            top: 0px;
        }
        .navbar {
            position: fixed;
            margin-top: 10px;
            margin-bottom: 15px;
            background-color: $header-bar;
            width: 100%;
            z-index: 10;
            top: 60px;
            div{
                padding: 0px;
            }
            ul{
                width: 420px;
                float: left;
                li{
                    border: 1px solid $black;
                }
            }

        }

    }
    @media (max-width: $iphone6) { 
        .header-bar{
            width: 400px;
        }
        .navbar ul{
            width: 380px;
        }
    }
    @media (max-width: $iphone) { 
        .header-bar{
            width: 350px;
        }
        .navbar ul{
            width: 330px;
        }
    }
}
p a{
    color: $red;
    font-weight: bolder;
    font-size: 115%;
}

.margin-0{
    margin: 0px
}

.p-r-0{
    padding-right: 0px;
}

iframe{
    width: 100%;
    height: 100%;
}

.menu-logo{
    position: absolute;
    background-image: url("../images/menu_logo.png");
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    top: 20px;
    right: 30px;
    height: 40px;
    width: 40px;
    border: 0;
    z-index: 20;
    outline: 0px;
}

.container-content{
    margin-top: 190px;
    margin-bottom: 50px;
    @media(max-width: 450px){
        margin-top: 70px;
    }
    .container{
        min-height: 600px;
    }
}

.social-media-icons{
    width: 160px;
    display: block;
    top: 115px;
    position: absolute;
    right: 10px;
    a{
        display: inline-block;
        height: 30px;
        width: 30px;
        margin: 0 5px;
    }
    span{
        display: block;
        position: relative;
        height: 100%;
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: contain;
        background-position: center;
        &.icon-facebook{
            background-image: url("../images/icon-facebook.png");
        }
        &.icon-youtube{
            background-image: url("../images/icon-youtube.png");
        }
        &.icon-instagram{
            background-image: url("../images/icon-instagram.png");
        }
        &.icon-email{
            border-radius: 100%;
            background-image: url("../images/icon-email.jpg");
        }
    }
}

span.icon{
    display: block;
    position: relative;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    &.icon-search{
        background-image: url("../images/icon-search.png");
        position: relative;
        float: right;
        top: 4px;
        left: -10px;
        z-index: 10;
    }
}


.footer{
    background: rgba(107, 105, 105, 0.75);
    height: 45px;
    margin: 0;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    z-index: 99;
    .social-media-icons{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    p{
        font-family: 'Fjalla One';
        font-size: 20px;
        margin-top: 10px;
        @media(max-width: 450px){
            font-size: 15px;
        }
    }
}


.title-badge{
    background: #676768;
    width: 50%;
    max-width: 200px;
    position: absolute;
    left: 0;
    border-radius: 0px 8px 8px 0px;
    p{
        font-size: 24px;
        color: $white;
        text-align: center;
    }
}

.main-banner{
    height: 100px;
    background: lightgray;
    margin: 10px 10%;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://i.imgur.com/hf96O8l.jpg");
    &.below{
        background-image: url("https://i.imgur.com/zGxrNFB.png");
    }
    iframe{
        height: 80px;
        width: 100%;
        img{
            width: 100%;
            height: 80px;
        }
    }
}

.context-row{
    p{
        color: $white;
        font-size: 30px;
        margin-top: -10px;
    }
}

.cemento-bg{
    background-image: url("../images/cemento2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    p.title{
        color: $white;
        font-size: 30px !important;
    }
}