#mapa{
    background-color: $white;
    padding: 20px 10%;
    iframe{
        width: 70%;
        height: 400px;
        margin: auto;
        display: block;
    }
    .context-row{
    	margin: 30px 0px;
    	p{
    		margin: 0;
    	}
    }
    .legend{
    	font-size: 20px;
    	margin: 20px;
    }
    svg{
		display: block;
		margin: auto;
		right: 25%;
		position: relative;
    	path{
    		cursor: pointer;
    		fill: #6c6b66;
    		transition: all 0.5s linear;
    		&:hover{
    			fill: #ff323d;
    		}
    	}
    }
}