#mapa{
    background-color: $white;
    padding: 20px 10%;
    iframe{
        width: 100%;
        height: 400px;
        margin: auto;
        display: block;
    }
    .img{
        height: 280px;
        width: 100%;
        background: whitesmoke;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; 
    }
    .legend{
    	font-size: 20px;
    	margin: 20px;
    }
    p.text{
        margin: 50px;
        text-align: justify;
    }
    svg{
		display: block;
		margin: auto;
		right: 25%;
		position: relative;
    	path{
    		cursor: pointer;
    		// fill: #6c6b66;
    		transition: all 0.5s linear;
    		&:hover{
    			fill: #ff323d;
    		}
    	}
        @media(max-width: 760px){
            right: 40%;
        }
        @media(max-width: 443px){
            right: 100%;
        }
    }
}

.flaitometro{
    padding: 0px 100px;
    h4{
        font-size: 2vw;
        margin-bottom: 0px;
    }
    img{
        display: block;
        margin: auto;
        width: 40%;
    }
}
