#post{
    background-color: $white;
    padding: 20px 10%;

    .col{
        padding: 30px;
    }
    img{
        width: 100%;
    }
    p.text{
        font-family: 'Fjalla One';
        text-align: justify; 
        margin: 50px 10%;
        font-size: 18px;
    }
    .name{
        font-size: 17px;
        font-size: 30px;
    }

    .date{
        font-size: 30px;
        margin: 0;
        position: relative;
        bottom: 7px;
    }

    .img{
        height: 400px;
        width: 100%;
        background-size: contain !important;
        background-repeat: no-repeat;
        background-position: center; 
    }
    .youtube{
        iframe{
            width: 80%;
            display: block;
            margin: auto;
            height: 450px;
            margin-top: 30px;
        }
    }

    .map_url{
        margin: 30px;
        iframe{
            display: block;
            margin: auto;
            width: 85%;
            height: 250px;
            @media(max-width: 450px){
                width: 100%;
            }
        }
    }

    .links{
        button, a{
            background: transparent;
            border: 0;
            display: inline-block;
        }
    }

    .related-posts{
        padding: 30 5%;
        background-color: $white;
        &.bottom{
            margin-top: 0px;
        }
        .col{
            padding: 0;
        }
        .img{
            height: 300px;
            background-size: cover;
            background-position: center;
        }
        .hover-text{
            height: 100%;
            top: 0;
            background: black;
            color: white;
            opacity: 0;
            position: absolute;
            width: 100%;
            transition: all 0.5s linear;
            top: 0px;
            &:hover{
                opacity: 0.6;
            }
            p{
                text-align: center;
                position: relative;
                top: 70px;
                font-size: 25px;
                padding: 0 15px;
            }
        }
    }
}