// SCSS
$drink: #2C2720;
$black: #000;
$white: #FFF;
$dark: #2E2D28;
$pink-red: #DE0653;
$red: #ff323d;
$orange: #ff8d00;
$header-bar: #191818;

//Sizes
$iphone: 320px;
$iphone6: 375px;
$iphone6-plus: 414px; //Iphone6Plus
$tablet: 768px;
$desktop: 992px;
$lg-screen: 1200px;
$screen-13: 1270px;
$xl-screen: 1540px;

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin transform($transform...) {
    -moz-transform:    $transform;
    -o-transform:      $transform;
    -webkit-transform: $transform;
    transform:         $transform;
}

@mixin animation($animation...) {
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -ms-animation: $animation;
    animation: $animation;
}

@import "fonts";
@import "layout";
@import "novedades";
@import "home";
@import "galeria";
@import "mapa";
@import "agentes";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.ng-invalid.ng-dirty{
  border-color: $pink-red !important;
}
.ng-valid.ng-dirty {
  border-color: $drink !important;
}

body{
    background-color: $black;
}

.white{
	color: $white;
}

.bolder{
    font-weight: bolder;
}

.logo{
    position: absolute;
    z-index: 1;
    width: 100%;
    margin-top: 50px;
    img{
        width: 110px;
        display: block;
        margin: auto;
    }
    @media(max-width: 420px){
        img{
            position: relative;
            width: 50px !important;
            top: -10px !important;
            right: 20px !important;
        }
    }
    @media(min-width: $iphone){
        margin-top: 15px;
        img{
            position: relative;
            right: 10px;
            width: 110px;
        }
    }
    @media(min-width: $tablet){
        img{
            width: 110px;
            top: 0;
        }
    }
}
.absolute{
    position: absolute;
}

.appear {
  @include transition(all linear 0.5s);
  &.ng-hide {
    opacity:0;
  }
}

.appear-left {
  @include transition(all linear 0.5s);
  &.ng-hide {
    left:0;
  }
}

.chinese{
    font-family: 'Barlow Condensed', sans-serif;
}

.indie{
    font-family: 'Amatic SC', cursive;
}

video{
    width: 100%;
}

.clickable{
    cursor: pointer;
}

.clear-left, .col-birth-date{
    clear: left;
}

.p-t-150{
    padding-top: 150px;
    @media(max-width: $tablet){
        padding-top: 80px;
    }
}

.padding-10{
    padding: 10px;
}
