extends ../layout/home-layout
block content
	#galeria
		.row
			.main-banner
		.row.context-row.cemento-bg
			p.text-center.chinese.uppercased Galeria fotográfica
		br
		br
		br
		.row.container-fixed.detail
			.col-md-12
				img.featured(ng-src="{{currentEvent.cover_url}}")
				p.text-center {{currentEvent.featured_image}}
		.row
			h3.indie.text-center {{currentEvent.description}}
			h2.indie {{currentEvent.release_date | date: "dd/MM/yyyy"}}
		.row.container-fixed(ng-if="eventFeaturedPhoto")
			.col.col-md-12.clickable( ng-click="showSlider(eventFeaturedPhoto)")
				img.featured(ng-src="{{eventFeaturedPhoto.photo_url}}")
		.row.container-fixed.feat-slider(ng-if="eventFeaturedPhotos")
			.simple.col.col-md-2.clickable(ng-repeat="photo in eventFeaturedPhotos" ng-click="showSlider(photo)")
				.img(back-img="{{photo.photo_url}}")
		.row
			//- h3.indie.text-center {{currentEvent.text}}
			h3.indie.text-center(ng-bind-html="trust(currentEvent.text)")
		.row.masonry
			.brick.clickable(ng-repeat="photo in eventPhotos" ng-click="showSlider(photo)")
				img(src="{{photo.photo_url}}")
		.row
			.col(ng-if="thereIsMorePhotos")
				button.indie.load-more(ng-click="loadMorePhotos()") Ver más
		.row
			.main-banner
		.row
			script(type="text/ng-template", id="sliderPhotos")
				include ./slider-photos
