extends ../layout/home-layout
block content
	#galeria
		.row
			banner
		.row.context-row.cemento-bg
			p.text-center.chinese.uppercased Galeria fotográfica
		br
		br
		br
		.row.container-fixed
			.col.col-md-4.clickable(ng-repeat="event in events" ng-click="goToGalleryDetail(event)")
				.img(back-img="{{event.cover_url}}")
				p.text-right.name.indie {{event.name}}
				p.date.indie 
					small {{event.release_date | date:"dd/MM/yyyy"}}
		.row
			banner(second="true")

