extends ../layout/home-layout
block content
	#mapa
		.row
			banner
		.row.context-row.cemento-bg
			p.text-center.chinese.uppercased Mapa de Spots
		br
		br
		.row
			iframe(src="https://www.google.com/maps/d/u/0/embed?mid=1UHSbVyebDVqy9jH_BJC3cgAD1ck")
		.row.context-row.cemento-bg
			p.text-center.chinese.uppercased Skateparks de Chile
		.row
			p.text.legend.text-center Selecciona una Región
			#mapsvg
				include ../../../images/chile.svg
		.row
			banner(second="true")