extends ../layout/home-layout
block content
	#agentes
		.row
			banner
		.row.context-row.cemento-bg
			p.text-center.chinese.uppercased.no-margin SKATEPARKS DE CHILE
		br
		.row.detail(ng-if="currentSkatepark")
			.col-md-12
				h2.chinese.text-center {{currentSkatepark.name}}
				h3.chinese.text-center {{currentRegion.name}}
				br
				.img.profile(back-img="{{currentSkatepark.image_url}}")
				br
				p.text-center.no-margin {{currentSkatepark.caption}}
				p.text-center.text(ng-bind-html="trust(currentSkatepark.commment)")
		.row.container-fixed.detail
			.col-md-6(ng-repeat="img in featuredImages")
				img.featured(ng-src="{{img.photo_url}}")
			.col-md-6
				img.featured(ng-src="{{img.photo_url}}")
		.row.container-fixed.images(ng-if="currentSkateparkPhotos.length > 0")
			.col.col-md-3.clickable(ng-repeat="photo in currentSkateparkPhotos" ng-click="showSlider(photo)")
				.img(back-img="{{photo.photo_url}}")
		.row
			script(type="text/ng-template", id="sliderPhotos")
				include ../galeria/slider-photos
		.row
			.col.col-md-12
				p.text-center.text(ng-bind-html="trust(currentSkatepark.aditional_text)")
		.row(ng-show="currentSkatepark.flaitometro")
			.flaitometro
				h4.text-center Flaitómetro
				img(ng-src="{{flaitometro}}")
				p.no-margin.text-center.text(ng-bind-html="trust(currentSkatepark.flaitometro_text)")
		.row
			.map_url(ng-if="currentSkatepark.location")
				iframe(ng-src="{{mapURL}}")
		.row
			banner(second="true")