extends ../layout/home-layout
block content
	br
	br
	#about
		.row.context-row.cemento-bg
			p.text-center.chinese NOSOTROS
		br
		br
		.row
			img(src="../images/logohead.png")
		.row
			p.text.text-center SKTV es un medio de difusión de skate nacional que muestra la diversidad de los patinadores si catalogar su género, edad, lugar. Un espacio que no busca marcar una jerarquia, sino más bien ser uno con el espectador. De esta forma apoyar de igual a igual, de skaters para skaters con el objectivo de empatizar con la gente.
			p.text.text-center La idea de sktv nace de la consigna de que cualquier skater motivado pueda tener registro de su patinar, ya sea en skatepark, campeonatos o mejor aún en la calle.
		br
		br
		.row

