extends ../layout/home-layout
block content
	#agentes
		.row
			.main-banner
		.title-badge
			p.chinese Agentes
		br
		br
		.row.container-fixed
			.col.col-md-12
				img(src="images/agentes/sample.jpg")
				.text-desc
					p.title.indie
						| Ver Perfil
