extends ../layout/home-layout
block content
	#agentes
		.row
			.main-banner
		.title-badge
			p.chinese Agentes
		br
		br
		.row.container-fixed(ng-if="agents")
			.col.col-md-12(ng-repeat="agent in agents")
				img(ng-src="{{agent.photo_url}}")
				.text-desc
					p.title.indie
						{{agent.name}}
