extends ./home-layout
block content
	#galeria
		.row
			.main-banner
		.title-badge
			p.chinese Galeria fotográfica
		br
		br
		br
		.row.container-fixed
			.col.col-md-4
				img(src="images/galeria/1.jpg")
				p.text-right.name.indie Rey de Reyes 2017
				p.date.indie 
					small 02/02/2017
			.col.col-md-4
				img(src="images/galeria/1.jpg")
				p.text-right.name.indie Rey de Reyes 2017
				p.date.indie 
					small 02/02/2017
			.col.col-md-4
				img(src="images/galeria/1.jpg")
				p.text-right.name.indie Rey de Reyes 2017
				p.date.indie 
					small 02/02/2017
		.row.container-fixed
			.col.col-md-4
				img(src="images/galeria/1.jpg")
				p.text-right.name.indie Rey de Reyes 2017
				p.date.indie 
					small 02/02/2017
			.col.col-md-4
				img(src="images/galeria/1.jpg")
				p.text-right.name.indie Rey de Reyes 2017
				p.date.indie 
					small 02/02/2017
			.col.col-md-4
				img(src="images/galeria/1.jpg")
				p.text-right.name.indie Rey de Reyes 2017
				p.date.indie 
					small 02/02/2017
		.row
			.main-banner
		.row.container-fixed
			.col.col-md-4
				img(src="images/galeria/1.jpg")
				p.text-right.name.indie Rey de Reyes 2017
				p.date.indie 
					small 02/02/2017
			.col.col-md-4
				img(src="images/galeria/1.jpg")
				p.text-right.name.indie Rey de Reyes 2017
				p.date.indie 
					small 02/02/2017
			.col.col-md-4
				img(src="images/galeria/1.jpg")
				p.text-right.name.indie Rey de Reyes 2017
				p.date.indie 
					small 02/02/2017
		.row.container-fixed
			.col.col-md-4
				img(src="images/galeria/1.jpg")
				p.text-right.name.indie Rey de Reyes 2017
				p.date.indie 
					small 02/02/2017
			.col.col-md-4
				img(src="images/galeria/1.jpg")
				p.text-right.name.indie Rey de Reyes 2017
				p.date.indie 
					small 02/02/2017
			.col.col-md-4
				img(src="images/galeria/1.jpg")
				p.text-right.name.indie Rey de Reyes 2017
				p.date.indie 
					small 02/02/2017

