extends ./home-layout
block content
	.container(id="home")
		.row.main-banner
			.featured-container
				.col-md-4.col-md-offset-4
					img(src="images/home/demo.jpg")
					.title
						h3.chinese Entrevista
						h2.chinese Anibal Wilson
