extends ../layout/home-layout
block content
	.container(id="home")
		.row.main-banner
			.featured-container
				.col.col-md-6.col-md-offset-3
					img(src="images/home/demo.jpg")
					.title
						h3.chinese Entrevista
						h2.chinese Anibal Wilson
			.last-news
				.row
					.col.col-md-4
						.hover-text
							p.chinese Entrevista con Don SkateTV
						.img(style="background-image: url('images/home/1.jpg')")
					.col.col-md-4
						.hover-text
							p.chinese Entrevista con Don SkateTV
						.img(style="background-image: url('images/home/2.jpg')")
					.col.col-md-4
						.hover-text
							p.chinese Entrevista con Don SkateTV
						.img(style="background-image: url('images/home/3.jpg')")
				.row
					.col.col-md-4
						.hover-text
							p.chinese Entrevista con Don SkateTV
						.img(style="background-image: url('images/home/4.jpg')")
					.col.col-md-4
						.hover-text
							p.chinese Entrevista con Don SkateTV
						.img(style="background-image: url('images/home/5.jpg')")
					.col.col-md-4
						.hover-text
							p.chinese Entrevista con Don SkateTV
						.img(style="background-image: url('images/home/1.jpg')")
			.instagram-feed
				.row
					.col-md-8
						img(src="images/instagram_sample.jpg")
					.col-md-2
						p
							