extends ../layout/home-layout
block content
	#novedades
		.row
			banner
		.row.cemento-bg
			p.text-center.chinese.title NOVEDADES
		br
		.row.container-fixed(ng-if="allPosts")
			.col.col-md-12.clickable(ng-repeat="post in allPosts" ui-sref="post({postId: post.id})")
				.img(back-img="{{post.image_url}}")
				.text-desc
					p.title.indie
						| {{post.title}}
					p.indie
						| {{post.subtitle}}
					p.text(ng-bind-html="trust(post.text) | truncate: 100")
					p.indie.see-more
						small
							| Ver más...
		.row
			banner(second="true")