extends ../layout/home-layout
block content
	#novedades
		.row.main-banner
		.title-badge
			p.chinese Novedades
		br
		br
		br
		.row.container-fixed
			.col.col-md-12
				img(src="images/noticias/sample.jpeg")
				.text-desc
					p.title.indie
						| Inauguración Skatepark San Francisco de Mostazal
					p.indie
						small
							| Ver más...
			.col.col-md-12
				img(src="images/noticias/sample.jpeg")
				.text-desc
					p.title.indie
						| Inauguración Skatepark San Francisco de Mostazal
					p.indie
						small
							| Ver más...
			.col.col-md-12
				img(src="images/noticias/sample.jpeg")
				.text-desc
					p.title.indie
						| Inauguración Skatepark San Francisco de Mostazal
					p.indie
						small
							| Ver más...
