extends ../layout/home-layout
block content
	#post
		.row
			banner
		.row.cemento-bg
			p.text-center.chinese.title NOVEDADES
		br
		.row
			h1.indie.text-center {{currentPost.title}}
			h3.indie.text-center {{currentPost.subtitle}}
			h2.indie {{currentPost.release_date | date: "dd/MM/yyyy"}}
		.row.container-fixed(ng-if="currentPost")
			.img(ng-if="currentPost.image_url" back-img="{{currentPost.image_url}}")
			p.text(ng-bind-html="trust(currentPost.text)")
			.youtube(ng-if="currentPost.youtube_iframe_url")
				iframe(ng-src="{{currentPost.youtube_iframe_url}}" frameborder="0" scrolling="no" allowfullscreen)
			p.text(ng-bind-html="trust(currentPost.second_text)")
			p.text-center.links
				button(ng-click="copyLinkToClipboard()" popover-append-to-body="true" popover-placement="top" popover-trigger="mouseenter" uib-popover="{{clipboardText}}")
					span.icon.icon-clipboard
				button(ng-click="postToFb()" popover-append-to-body="true" popover-placement="top" popover-trigger="mouseenter" uib-popover="Compartir por Facebook")
					span.icon.icon-facebook
				button(ng-click="postToTwitter()" popover-append-to-body="true" popover-placement="top" popover-trigger="mouseenter" uib-popover="Compartir por Twitter")
					span.icon.icon-twitter
				a(ng-href="https://api.whatsapp.com/send?text={{currentUrl}}" popover-append-to-body="true" popover-placement="top" popover-trigger="mouseenter" uib-popover="Compartir por Whatsapp" target="_blank")
					span.icon.icon-whatsapp
			.map_url(ng-if="currentPost.place")
				iframe(ng-src="{{mapURL}}")
		.row
			banner(second="true")
		.row.cemento-bg
			p.text-center.chinese.title RECOMENDADOS
		.related-posts(ng-show="relatedPosts")
			.row
				.col.col-md-4.clickable(ng-repeat="post in relatedPosts | orderBy:'-created_at'" ui-sref="post({postId: post.id})")
					.hover-text
						p.chinese {{post.title}}
					.img(back-img="{{post.image_url}}")
