div(id="layout" ng-init="showNavbar = true")
	#bar-header.row.header-bar.navbar-fixed-top
		.col.col-lg-4.col-md-4.col-xs-4
			.redescubre-logo(ui-sref="home")
		.col.col-lg-4.col-md-4.col-xs-4
			.logo(ui-sref="home")
				img(src="images/sktv/logo.png")
		.col.col-lg-4.col-md-4.col-xs-4
			.social-media-icons
				a( href="https://www.facebook.com/sktvchile" target="_system")
					span.icon-facebook
				a( href="https://www.youtube.com/user/sktvchile/featured" target="_system")
					span.icon-youtube
				a( href="https://www.instagram.com/sktvchile/" target="_system")
					span.icon-instagram
			button.menu-logo.hidden-sm.hidden-md.hidden-lg(ng-click="showNavbar = !showNavbar")
	nav.navbar.navbar-fixed-top.appear.hidden-sm.hidden-md.hidden-lg(ng-show="showNavbar")
		.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
			ul.nav.navbar-nav
				li(ui-sref-active="active")
					a(ui-sref="home") INICIO
				li(ui-sref-active="active")
					a(ui-sref="novedades") NOVEDADES
				li(ui-sref-active="active")
					a(ui-sref="galeria") GALERIA
				li(ui-sref-active="active")
					a(ui-sref="agentes") AGENTES
				li(ui-sref-active="active")
					a(ui-sref="mapa") MAPA
	nav.navbar.navbar-fixed-top.appear.absolute(ng-show="showNavbar")
		.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
			ul.nav.navbar-nav
				li(ui-sref-active="active")
					a(ui-sref="home") INICIO
				li(ui-sref-active="active")
					a(ui-sref="novedades") NOVEDADES
				li(ui-sref-active="active")
					a(ui-sref="galeria") GALERIA
				li(ui-sref-active="active")
					a(ui-sref="agentes") AGENTES
				li(ui-sref-active="active")
					a(ui-sref="mapa") MAPA
	.container-content
		block content
		.footer(class="{{$parent.currentState}}-page")
			.social-media-icons
				a( href="https://www.facebook.com/sktvchile" target="_system")
					span.icon-facebook
				a( href="https://www.youtube.com/user/sktvchile/featured" target="_system")
					span.icon-youtube
				a( href="https://www.instagram.com/sktvchile/" target="_system")
					span.icon-instagram
			p.margin-0.white.book.uppercased.text-center SKTV &copy; 2018 | Todos los derechos reservados.
