extends ../layout/home-layout
block content
	#agentes
		.row
			banner
		.row.context-row.cemento-bg
			p.text-center.chinese AGENTES
		br
		br
		.row.agent-index
			.col.col-md-12(ui-sref="agentes-list({agentType: 'fotografos'})")
				img(src="../images/foto.jpg")
				p.index FOTÓGRAFOS
			.col.col-md-12(ui-sref="agentes-list({agentType: 'filmers'})")
				img(src="../images/video.jpg")
				p.index FILMERS
			.col.col-md-12(ui-sref="agentes-list({agentType: 'kinesiologos'})")
				img(src="../images/kine.jpg")
				p.index KINESIOLOGOS
		.row
			banner(second="true")
