extends ../layout/home-layout
block content
	#agentes
		.row
			.main-banner
		.row.context-row.cemento-bg
			p.text-center.chinese.uppercased {{agentType}}
		br
		br
		.row.detail
			.col-md-12
				img.profile(ng-src="{{currentAgent.photo_url}}")
				p.quote.text-center
					i {{currentAgent.quote}}
				p.text-left {{currentAgent.text}}
		.row.detail
			.col.col-md-6
				p.text-right {{currentAgent.aditional_text}}
			.col.col-md-6
				img.featured(ng-if="!currentAgent.youtube_iframe_url" ng-src="{{currentAgent.featured_image}}")
				.youtube(ng-if="currentAgent.youtube_iframe_url")
					iframe(ng-src="{{currentAgent.youtube_iframe_url}}" frameborder="0" scrolling="no" allowfullscreen)
			br
		.row.container-fixed.detail
			.col-md-12
				img.featured(ng-src="{{currentAgentPhoto.featured_image}}")
		.row.container-fixed.images
			.col.col-md-3.clickable(ng-repeat="photo in currentAgentPhotos" ng-click="showSlider(photo)")
				.img(back-img="{{photo.photo_url}}")
		.row
			script(type="text/ng-template", id="sliderPhotos")
				include ../galeria/slider-photos
		.row.context-row.cemento-bg
			p.text-center.chinese.uppercased CONTACTO
		.row
			.contact
				p.text-center(ng-show="currentAgent.youtube")
					span.icon.icon-youtube
					strong
						| Youtube: 
					a(ng-href="{{currentAgent.youtube}}") 
						{{currentAgent.youtube}}
				p.text-center(ng-show="currentAgent.instagram" )
					span.icon.icon-instagram
					strong
						| Instagram: 
					a(ng-href="{{currentAgent.instagram}}") 
						{{currentAgent.instagram}}
				p.text-center(ng-show="currentAgent.facebook") 
					span.icon.icon-facebook
					strong
						| Facebook: 
					a(ng-href="{{currentAgent.facebook}}") 
						{{currentAgent.facebook}}
				p.text-center(ng-show="currentAgent.email") 
					span.icon.icon-email
					strong
						| Correo: 
					a(ng-href="mailto:{{currentAgent.email}}")
						{{currentAgent.email}}
				p.text-center(ng-show="currentAgent.phone") 
					span.icon.icon-phone
					strong
						| Fono: 
					a(ng-href="tel:{{currentAgent.email}}")
						{{currentAgent.phone}}
		.row
			.main-banner