extends ../layout/home-layout
block content
	#agentes
		.row
			banner
		.row.context-row.cemento-bg
			p.text-center.chinese.uppercased {{agentType}}
		br
		br
		.row.agent-index.container-fixed(ng-if="agents.length == 0")
			p.text-center No hay {{agentType}} registrados aún
		.row.agent-index.container-fixed(ng-if="agents")
			.col.col-md-12(ng-repeat="agent in agents" ui-sref="agentes-detail({agentType: agentType, agentId: agent.id})")
				img(ng-src="{{agent.photo_url}}")
		.row
			banner(second="true")