extends ../layout/home-layout
block content
	#agentes
		.row
			banner
		.row.context-row.cemento-bg
			p.text-center.chinese.uppercased.no-margin {{agentType}}
		br
		br
		.row.detail
			.col-md-12
				img.profile(ng-src="{{currentAgent.photo_url}}")
				h2.indie.quote.text-center
					i {{currentAgent.quote}}
				p.text.text-justify(ng-bind-html="trust(currentAgent.text)")
		.row.detail
			.col.col-md-6
				p.text.text-justify(ng-bind-html="trust(currentAgent.aditional_text)")
			.col.col-md-6
				img.featured(ng-if="!currentAgent.youtube_iframe_url" ng-src="{{currentAgent.featured_image}}")
				.youtube(ng-if="currentAgent.youtube_iframe_url")
					iframe(ng-src="{{currentAgent.youtube_iframe_url}}" frameborder="0" scrolling="no" allowfullscreen)
			br
		.row.container-fixed.detail
			.col.col-md-12
				img.featured(ng-src="{{currentAgentPhoto.featured_image}}")
		.row.container-fixed.images
			.col.col-sm-6.col-md-3.clickable(ng-repeat="photo in currentAgentPhotos" ng-click="showSlider(photo)")
				.img(back-img="{{photo.photo_url}}")
		.row
			script(type="text/ng-template", id="sliderPhotos")
				include ../galeria/slider-photos
		.row.context-row.cemento-bg
			p.text-center.chinese.uppercased.no-margin Contacta a {{currentAgent.name}}
		.row
			.contact
				p.text-center(ng-show="currentAgent.youtube")
					a(ng-href="{{currentAgent.youtube}}")
						span.icon.icon-youtube
						strong
							| Youtube
				p.text-center(ng-show="currentAgent.instagram" )
					a(ng-href="{{currentAgent.instagram}}")
						span.icon.icon-instagram
						strong
							| Instagram
				p.text-center(ng-show="currentAgent.facebook") 
					a(ng-href="{{currentAgent.facebook}}")
						span.icon.icon-facebook
						strong
							| Facebook
				p.text-center(ng-show="currentAgent.email") 
					a(ng-href="mailto:{{currentAgent.email}}")
						span.icon.icon-email
						strong
							| Correo
				p.text-center(ng-show="currentAgent.phone") 
					a(ng-href="tel:{{currentAgent.phone}}")
						span.icon.icon-phone
						strong
							| Fono
		.row
			banner(second="true")